/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

body {
   background: linear-gradient(90deg, #fe9c42 0%, #7e21f5 100%);
}

.text-mimi-shadow {
   text-shadow: 0.5px 0.5px 5px #222;
}

.animation {
   animation: text-animate-mimi 1s;
}
.spin-animation {
   animation: spin 2s infinite;
}
.blink {
   transition: all 0.5s;
   transition-delay: 1s;
   animation: blink 1s infinite;
}

@keyframes text-animate-mimi {
   0% {
      letter-spacing: 20px;
   }
   100% {
      letter-spacing: normal;
   }
}

@keyframes spin {
   from {
      transform: rotate(0);
   }
   to {
      transform: rotate(360deg);
   }
}

@keyframes blink {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
